<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comparador</title>
</head>
<body>
	<header>
	<nav class = "navigator">
        <ul class= "container">
            <li>Log in</li>
            <li>Regístrate</li>     
        </ul>
    </nav>
	</header>
	
</body>
</html>