/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.navigator {
    margin-top:20px;
    font-family: 'Franklin Gothic Medium', cursive;
    min-height: 20px;
    width: 95%;
    font-size: 25px;
    text-align: right;
    margin-bottom: 2%;
}

.container ul {
    text-align: center;
    display: inline-block;
    margin-top:20px;
    height: 20px;
    width: 50%;
    float:right;

}

a:link {   text-decoration:none; color:#000000 ;}
a:visited {   color:#000000 ; text-decoration:none;}
a:active {   color:#000000; text-decoration:none;}

li {
    height: 20px;
    width: 10%;
    display:inline-block;
    text-align: center;
    text-decoration: none;
}

.portada {
    background-image: url("portada.jpg");
    background-repeat: no-repeat;
    width: 90%;
    height: 700px;
    margin-left: 4%;
}

.slide{
   margin-left: 3%;
   width: 45%;
   height: 250px;
   display:inline-block;
   position: relative;
 }
.slide img{
   width: 45%;
   height: 250px;
   position: absolute;
}
.slide .img2, .slide .img3 {
   display: none;
}