/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.navigator {
    width: 99.2%;
    height: 70px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: 25px;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
  font-family: 'Franklin Gothic Medium', cursive;
  color: #ffffff;
  font-size: 40px;
  width: 25%;
  float: left;
  display: inline;
  position: relative;
  top: -35px;
  

}

.container {
    min-height: 20px;
    min-width: 10px;
    float: right;

    /*height: 20px;*/
    /*width: 50%;*/
    /*float:right;*/

}

a:link {   text-decoration:none; color:#ffffff ;}
a:visited {   color:#ffffff ; text-decoration:none;}
a:active {   color:#ffffff; text-decoration:none;}

li {
    /*height: 20px;*/
    display: inline;
    padding-right: 30px;
}

.portada {
    background-image: url("portada.jpg");
    background-repeat: no-repeat;
    background-position: 0px 45px;
    width: 100%;
    height: 800px;
}

.slide{
   margin-left: 10%;
   margin-top: 5%;
   width: 45%;
   height: 250px;
   display:inline-block;
   position: relative;
 }
.slide img{
   width: 45%;
   height: 250px;
   position: absolute;
}
.slide .img2, .slide .img3 {
   display: none;
}