/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.registrate {
	background-image: url("registro1.jpg"); 
	height: 1000px;
	width: 100%;
	color: #191970;
	text-align: center;
	margin-top: -2%;

}

.casillas {
	font-family: 'Franklin Gothic Medium', cursive;
	font-size: 40px;
	padding-top: 6%;
}

.boton_registro {
	font-family: 'Franklin Gothic Medium', cursive;
	font-size: 25px;
	color: #191970;
}

.boton_compara {
	font-family: 'Franklin Gothic Medium', cursive;
	font-size: 30px;
	color: #ffffff;
	background-color: #00008b;

}